/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* TAG */


/* Classi */

.bg-blue{
    background-color: blue;
}

.bg-red{
    background-color: red;
}

.bg-yellow{
    background-color: yellow;
}

.bg-purple{
    background-color: purple;
}

.bg-gray{
    background-color: gray;
}


.text-center{
    text-align: center;
}

.mb-30{
    margin-bottom: 30px;
}

.flex{
    display: flex;
}

.flex-block{
    display: flex;
    align-items: center;
}

.gap-20{
    gap: 20px;

}
/* ID */

#main-container{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 25px;
    
}

#flex-container{
    display: flex;
    width: 70%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

#foto-set{
    width: 100px;
}
