/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* TAG */


/* Classi */

.bg-blue{
    background-color: blue;
}

.bg-red{
    background-color: red;
}

.bg-yellow{
    background-color: yellow;
}

.text-center{
    text-align: center;
}

.mb-30{
    margin-bottom: 30px;
}

.flex{
    display: flex;
}

.inline-block{
    display: inline-block;
}

/* ID */

#main-container{
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 25px;
    
}

#flex-container{
    display: flex;
    width: 60%;
    margin: 0 auto;
}
