/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* TAG */
h1{
    color: rgb(226, 58, 153);
    font-size: 50px;
}

h2{
    text-transform: uppercase;
}



/* Classi */

.bg-blue{
    background-color: blue;
}

.bg-red{
    background-color: red;
}

.bg-yellow{
    background-color: yellow;
}

.bg-purple{
    background-color: purple;
}

.bg-gray{
    background-color: gray;
}

.bg-black{
    background-color: black;
}

.text-center{
    text-align: center;
}

.flex{
    display: flex;
}

.flex-block{
    display: flex;
    background-color: black;
    width: 25%;
    gap: 10px;
    box-shadow:  10px 15px 30px black;
    flex-wrap: wrap;
}

.text-white{
    color: white;
}

.style-g{
    font-family: 'Fredoka', sans-serif;
}

.photo-set{
    width: auto;
    height: 100px;
    object-fit: fill;
}

.flex-block-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.flex-block-picture{
    display: flex;
    justify-content: baseline;
}

/* ID */

#main-container{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 25px;

}

#flex-container{
    display: flex;
    width: 80%;
    gap: 30px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px;
}
