/* RESET */

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* TAG */
h1{
    color: rgb(226, 58, 153);
    font-size: 50px;
}

h2{
    text-transform: uppercase;
}

header {
    background-color: rgb(194, 184, 237);
    animation-name: sfondo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


main {
    background-color: rgb(194, 184, 237);
}

body{
    background-color: rgb(76, 60, 91); 
}

/* Classi */

.bg-blue{
    background-color: blue;
}

.bg-red{
    background-color: red;
}

.bg-yellow{
    background-color: yellow;
}

.bg-purple{
    background-color: purple;
}

.bg-gray{
    background-color: gray;
}

.bg-black{
    background-color: black;
}

.text-center{
    text-align: center;
}

.flex{
    display: flex;
}

.gap10{
    gap: 10px;
}

.flex-block{
    display: flex;
    background-color: black;
    width: 25%;
    gap: 10px;
    box-shadow:  10px 15px 30px black;
    flex-wrap: wrap;
}

.text-white{
    color: white;
}

.style-g{
    font-family: 'Fredoka', sans-serif;
}

.photo-set{
    width: auto;
    height: 100px;
    object-fit: fill;
}

.flex-block-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.flex-block-picture{
    display: flex;
    justify-content: baseline;
}

.pad20{
    padding: 20px;
}

.height150{
    height: 150px;
}

.border-text-header:hover , .border-text-header:active{
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 10px 17px 30px purple;
    font-size: 150%;
}

.flex-wrap{
    flex-wrap: wrap;
}

/* ID */

#main-container{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 25px;

}

#flex-container{
    display: flex;
    width: 80%;
    gap: 30px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px;
    padding-bottom: 100px;
}

#logo{
    height: 200px;
}

#header-flex-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 25px;   
}

#footer-flex{
    display: flex;
    justify-content : center;
    padding: 50px;
    margin-top: 40px;
    height: auto;
    background-color: rgb(76, 60, 91);
}

/* ANIMATION */

@keyframes sfondo{
    0% {
        background-color: rgb(194, 184, 237);
    }

    25% {
        background-color: rgb(76, 60, 91);
    }

    50%{
        background-color: bisque;
    }

    100%{
        background-color: aquamarine;
    }
}

